<div id="App">
    <div class="mt-3 mb-3 ms-1">
        <label class="me-1" for="radio-btn">請選擇獎學金類型：</label>
        <b-radio-group  id="radio-btn" v-model="selected" class="mt-lg-2 inline-flex me-3">
            <b-radio class="ms-1 me-1" value="true">校內</b-radio>
            <b-radio class="ms-1 me-1" value="false">校外</b-radio>
        </b-radio-group>
        <b-button v-on:click="onSubmit" variant="outline-primary">查詢</b-button>
    </div>
    <div>
        <b-table id="table"
            responsive 
            :items="items" 
            :fields="fields" 
            :filter="filter" 
            :filter-included-fields="filterOn"

            :per-page="perPage" 
            :current-page="currentPage">
        </b-table>    
        @* 切換頁面 *@
        <b-pagination 
            aria-controls="table"
            v-model="currentPage" 
            :total-rows="rows" 
            :per-page="perPage" >
        </b-pagination>
    </div>
</div>

<script>
    let vm = new Vue({
        //el: '#App',
        data() {
            return {
                // 標頭
                fields: [
                    {
                        key: 'scholarshipId',
                        label:'編號',
                        tdClass: 'col1',
                    },
                    {
                        key: 'scholarship',
                        label:'獎助學金名稱',
                        tdClass: 'col2',
                    },
                    {
                        key: 'winners',
                        label: '得獎者',
                        tdClass: 'col3',
                    }
                ],
                // 資料
                items: null,
                //filter 
                selected: 'true',
                filter: 'true',
                filterOn:['onCampus'], //篩選onCampus的欄位
                //切換頁面
                perPage: 3, //調整每頁顯示筆數
                currentPage: 1, //目前頁數
            }
        },
        computed: {
            //資料筆數
            rows() {
                if (this.items == null){
                    return 0;
                }
                if (this.filter=="true"){
                    return this.items.filter(({onCampus}) => onCampus == true).length;
                }
                return this.items.filter(({onCampus}) => onCampus == false).length;
                
            },
        },
        mounted() {
            // 取得資料
            var baseInstance = axios.create({baseURL: window.location.origin});
            baseInstance.get('/SampleData').then(response => { // sample data建立於Controllers/HomeController.cs/SampleData
                var data=response.data[0];

                var json=[];                
                data.winnersList.forEach(function(element){
                    var scholarshipId=element.id;
                    var onCampus = element.onCampus;
                    var scholarship = element.title+"\n分配名額："+element.spot+"\n獎學金金額"+element.amount;

                    var student="";
                    data.winnersStudentInfo[scholarshipId].forEach(function(element){
                        student=student+element.name+" ("+element.id+" "+element.major+")\n"
                    });

                    // 一筆獎學金資料有 獎學金id, 獎學金資訊(名稱、名額、金額), 得獎者資訊(名字、學號、系所), 是否為校內
                    json.push({"scholarshipId":scholarshipId, "scholarship":scholarship, "winners":student, "onCampus": onCampus});
                });                
                this.items = json;
            });
        },
         methods:{
            onSubmit(event) {
                event.preventDefault()
                if (this.selected!=''){
                    this.filter=this.selected;
                    this.currentPage=1;
                }
            },
        }
    });

    vm.$mount('#App');
</script>
<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
    .table{
        white-space: pre;   
    }
    .inline-flex{
        display: inline-flex;
    }
    .col1{
        width: 16%;
    }
    .col2{
        width: 42%;
    }
    .col3{
        width: 42%;
    }
</style>

