<div id="App">
    <div>
        <b-tabs class="mt-3">
            @* 校內獎學金 *@
            <b-tab title="校內" active>
                <b-table id="on-campus-table" 
                    responsive 
                    :items="items" 
                    :fields="fields" 
                    :filter="onCampus" 
                    :filter-included-fields="filterOn"

                    :per-page="perPage" 
                    :current-page="onCampusCurrentPage">
                </b-table>
                @* 切換頁面 *@
                <b-pagination 
                    aria-controls="on-campus-table"
                    v-model="onCampusCurrentPage" 
                    :total-rows="onCampusRows" 
                    :per-page="perPage">
                </b-pagination>
            </b-tab>
            @* 校外獎學金 *@
            <b-tab title="校外">
                <b-table id="off-campus-table" 
                    responsive 
                    :items="items" 
                    :fields="fields" 
                    :filter="offCampus" 
                    :filter-included-fields="filterOn"

                    :per-page="perPage" 
                    :current-page="offCampusCurrentPage">
                </b-table>    
                @* 切換頁面 *@
                <b-pagination 
                    aria-controls="off-campus-table"
                    v-model="offCampusCurrentPage" 
                    :total-rows="offCampusRows" 
                    :per-page="perPage" >
                </b-pagination>
            </b-tab>
        </b-tabs>
    </div>
</div>

<script>
    let vm = new Vue({
        //el: '#App',
        data() {
            return {
                // 標頭
                fields: [
                    {
                        key: 'scholarshipId',
                        label:'編號',
                        tdClass: 'col1',
                    },
                    {
                        key: 'scholarship',
                        label:'獎助學金名稱',
                        tdClass: 'col2',
                    },
                    {
                        key: 'winners',
                        label: '得獎者',
                        tdClass: 'col3',
                    }
                ],
                // 資料
                items: null,
                //filter 
                onCampus: 'true',
                offCampus: 'false',
                filterOn:['onCampus'], //篩選onCampus的欄位
                //切換頁面
                perPage: 3, //調整每頁顯示筆數
                onCampusCurrentPage: 1, //校內目前頁數
                offCampusCurrentPage: 1, //校外目前頁數
            }
        },
        computed: {
            //校內資料筆數
            onCampusRows() {
                if (this.items == null){
                    return 0;
                }
                return this.items.filter(({onCampus}) => onCampus == true).length;
            },
            //校外資料筆數
            offCampusRows() {
                if (this.items == null){
                    return 0;
                }
                return this.items.filter(({onCampus}) => onCampus == false).length;
            }
        },
        mounted() {
            // 取得資料
            var baseInstance = axios.create({baseURL: window.location.origin});
            baseInstance.get('/SampleData').then(response => { // sample data建立於Controllers/HomeController.cs/SampleData
                var data=response.data[0];
                var json=[];                
                data.winnersList.forEach(function(element){
                    var scholarshipId=element.id;
                    var onCampus = element.onCampus;
                    var scholarship = element.title+"\n分配名額："+element.spot+"\n獎學金金額"+element.amount;
                    var student="";
                    data.winnersStudentInfo[scholarshipId].forEach(function(element){
                        student=student+element.name+" ("+element.id+" "+element.major+")\n"
                    });
                    // 一筆獎學金資料有 獎學金id, 獎學金資訊(名稱、名額、金額), 得獎者資訊(名字、學號、系所), 是否為校內
                    json.push({"scholarshipId":scholarshipId, "scholarship":scholarship, "winners":student, "onCampus": onCampus});
                });                
                this.items = json;
            });
        }
    });
    vm.$mount('#App');
</script>
<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
    .table{
        white-space: pre;   
    }
    .col1{
        width: 16%;
    }
    .col2{
        width: 42%;
    }
    .col3{
        width: 42%;
    }
</style>